html, body {
	width: 100%;
	height: 100%;
}

.choiceframe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 35%;
}

.opt1, .opt2, .opt3, .opt4 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1%;
	width: 35%;
	height: 100%;
}

.optlink {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.optimg {
	width: 100%;
	height: 95%;
}

#choicetitles {
	margin: 0 auto;
	width: 60%;
	height: 20%;
}

h2 {
	margin: 0 auto;
}

p {
	width: 100%;
	text-align: center;
}